{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myshop</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">MY SHOP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'app1:home' %}">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:cart' %}">Cart</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:your_order' %}">Your Order</a>
          </li>
            {% if user.is_athenticated %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:logout' %}">Logut</a>
                {% endif %}
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:login' %}">Login</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app1:register' %}">Register</a>
          </li>

{#          <li class="nav-item dropdown">#}
{#            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#              Dropdown link#}
{#            </a>#}
{#            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">#}
{#              <a class="dropdown-item" href="#">Action</a>#}
{#              <a class="dropdown-item" href="#">Another action</a>#}
{#              <a class="dropdown-item" href="#">Something else here</a>#}
{#            </div>#}
{#          </li>#}
        </ul>
      </div>
    </nav>
    {% block content %}

    {% endblock %}


</body>
</html>