{% extends 'app1/base.html' %}
{% load static %}
{% block title %}
    home
{% endblock %}
{% block content %}
     </div>
    <div class="dropdown">
     <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
       Categories
     </a>


     <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
         {% for c in categories %}
       <li><a class="dropdown-item" href="#">{{ c.name|title }}</a></li>
         {% endfor %}
     </ul>
    </div>
    <br>


    {% for p in products %}
    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ p.name|title }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">${{ p.price }}</h1>
            <img src="{{ p.image.url }}" class="img-fluid" alt="Responsive image">
              <br>
              <br>
              <h1>{{ p.id }}</h1>
            <div>
                <button type="button" href="{% url "app1:add_to_cart" p.id %}" class="btn btn-lg btn-block btn-outline-primary">add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

{% endblock %}