
{% extends "app1/base.html" %}
{% load static %}
{% block content %}
    <h3>login</h3>
     <body class="text-center">
    <form class="form-signin">
{#      <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">#}
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="text" class="sr-only">user Name</label>
      <input type="text" name="username" class="form-control" placeholder="username" {% if username %}value="{{ username }}" {% endif %}required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="Password" {% if password %}value="{{ password }}" {% endif %}required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

    </form>
{% endblock %}